<div class="mb-3">
  <%= f.label :name, class: "form-label fw-semibold" %>
  <%= f.text_field :name, class: "form-control", required: true %>
</div>

<div class="mb-3">
  <%= f.label :dob, "Date of Birth", class: "form-label fw-semibold" %>
  <%= f.date_field :dob, class: "form-control", required: true %>
</div>

<div class="mb-3">
  <%= f.label :notes, class: "form-label fw-semibold" %>
  <%= f.text_area :notes, rows: 3, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :status, class: "form-label fw-semibold" %>
  <%= f.select :status, Patient.statuses.keys.map { |s| [s.titleize, s] }, {}, class: "form-select" %>
</div>
